{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "sourceMaps": "both",
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
