doctype html

include common

html(lang=en)
  head
    title WPI Collablab - Status
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(href='css/signin.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='css/collab.css', rel='stylesheet')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Home

        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/schedule') Scheduled Lab Hours
            li
              a(href='/about') About
          .navbar-form.navbar-right
            button.pull-right.btn.btn-primary(style='display:inline;' onClick='login()')
              span.glyphicon.glyphicon-log-in  Management
    .container
      row
        .col-sm-12
          center
            h1 CollabLab is a student run MakerSpace at WPI
      row
        .col-sm-12.top10
          img(src="images/logo.jpg").img-responsive.center-block
      row
        .col-sm-12.top10
          center
            h1
              | The lab is currently&nbsp;
              strong
                span(id='isOpen')
      row
        .col-sm-6.col-md-offset-3.top40
          .panel.panel-primary
            .panel-heading Who is in the lab?
            .panel-body
              h4
                ul.list-group
                  div(id='who')
    script(src='js/notify.js')
    script(src='js/common.js')
    script(src='js/external.js')
